#meme {
    width           : 600px;
    height          : 350px;
    overflow        : hidden !important;
    background-color: white;
    z-index         : 0;

    left  : 10px;
    border: 2px solid black;
}

.super-mario {
    position: relative;
    width   : 30%;
    height  : auto;
    z-index : 2;
    left    : 0%;
    top     : 0%;
}

.goomba {
    position: relative;
    width   : 20%;
    height  : auto;
    z-index : 2;
    left    : -1%;
    top     : 24%;
}

.bowser {
    position: relative;
    width   : 31%;
    height  : auto;
    z-index : 2;
    left    : 69%;
    top     : -108%;
}

.baloon {
    position: relative;
    display : block;
    width   : 22%;
    height  : auto;
    z-index : 3;
    left    : 51%;
    top     : -101%;
}

.word {
    position: relative;
    display : block;
    width   : 12%;
    height  : auto;
    z-index : 5;
    left    : 57%;
    top     : -79%;
}