:root {
  --max-width: 1024px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

/* HEADER */
.header{
  background-color: #323433;
  color: #E2E4D4;
  width: 100%;
  font-size: 0.7rem;
}

.header__navbar {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__signup {
  color: #BDC0B1;
  text-decoration: underline;
  font-size: 16px;
}

/* MAIN */
.main {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main__paragraph {
  font-size: 1.5rem;
  padding: 1.25rem;
}