div {
    border-color: black;
    border-style: solid;
}

.title {
    text-align: center;
}

.main-content {
    background-color: yellow;
}

.main-content .center-content {
    background-color: red;
    width           : 50%;
    margin-left     : auto;
    margin-right    : auto;
}

.main-content .center-content p {
    font-style: italic;
}

.main-content .left-content {
    background-color: green;
    width           : 60%;
    margin-left     : 0;
    margin-right    : auto;
}

.main-content .left-content .small-image {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
    border-radius: 100%;
}

.main-content .right-content {
    background-color: blue;
    width           : 60%;
    margin-left     : auto;
    margin-right    : 0;
}

.main-content .description {
    text-align: center;
}